body {
    text-align: center;
    background-color: rgb(196, 236, 238);
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    position: relative;
}

.timer {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

.timer .error,
.time,
.accuracy,
.cpm,
.wpm {
    display: inline-block;
    width: 15%;
    background-color: #cdc9de;
    height: 100px;
    margin: 8px;
    padding: 10px;
    box-shadow: rgb(120, 111, 111) 5px 8px 5px;
}

.cpm_text,
.wpm_text,
.error_text,
.acc_text,
.timer_text {
    font-size: 20px;
    font-weight: 600;
}

.sampletext {
    background-color: #cdc9de;
    font-size: 20px;
    margin: 30px;
    font-weight: 600;
    padding: 20px;
    box-shadow: rgb(120, 111, 111) 5px 8px 5px;
}

.test {
    background-color: #acc4d9;
    height: 100px;
    width: 80%;
    font-size: 20px;
    font-weight: 500;
    margin: 30px;
    padding: 20px;
    border: 10px;
    box-shadow: rgb(120, 111, 111) 5px 8px 5px;
}

.cpm,
.wpm {
    display: none;
}


.incorrect {
    color: red;
}

.correct {
    color: green;
}